input[type="text"],
input[type="email"],
textarea {
	font-size: 1.2rem;
	width: 100%;
	color: $search;
	border: none;

	&:focus {
		border: none;
		width: 100%;
		outline: none;
	}
}

textarea {
	width: 100%;
}
